In [ ]:
import numpy as np
import pandas as pd
import matplotlib
from matplotlib import pyplot as plt

In [ ]:
college_df = pd.read_csv('Resources/salaries_by_college_type_data.csv')
region_df = pd.read_csv('Resources/salaries_by_region_data.csv')
majors_df = pd.read_csv('Resources/degrees_that_pay_back_data.csv')

datasets_list = [college_df, region_df, majors_df]

In [ ]:
college_columns = {
    "School Name" : "name",
    "School Type" : "type",
    "Starting Median Salary" : "start_p50",
    "Mid-Career Median Salary" : "mid_p50",
    "Mid-Career 10th Percentile Salary" : "mid_p10",
    "Mid-Career 25th Percentile Salary" : "mid_p25",
    "Mid-Career 75th Percentile Salary" : "mid_p75",
    "Mid-Career 90th Percentile Salary" : "mid_p90",
    "In State Tuition" : "in_tuition",
    "Out of State Tuition" : "out_tuition"
}

college_df.rename(columns=college_columns, inplace=True)

region_columns = {
    "School Name" : "name",
    "Region" : "region",
    "Starting Median Salary" : "start_p50",
    "Mid-Career Median Salary" : "mid_p50",
    "Mid-Career 10th Percentile Salary" : "mid_p10",
    "Mid-Career 25th Percentile Salary" : "mid_p25",
    "Mid-Career 75th Percentile Salary" : "mid_p75",
    "Mid-Career 90th Percentile Salary" : "mid_p90",
    "In State Tuition" : "in_tuition",
    "Out of State Tuition" : "out_tuition"
}

region_df.rename(columns=region_columns, inplace=True)

majors_columns = {
    "Undergraduate Major" : "name",
    "Starting Median Salary" : "start_p50",
    "Mid-Career Median Salary" : "mid_p50",
    "Percent change from Starting to Mid-Career Salary" : "increase",
    "Mid-Career 10th Percentile Salary" : "mid_p10",
    "Mid-Career 25th Percentile Salary" : "mid_p25",
    "Mid-Career 75th Percentile Salary" : "mid_p75",
    "Mid-Career 90th Percentile Salary" : "mid_p90"
}

majors_df.rename(columns=majors_columns, inplace=True)

In [ ]:
selected_columns = ["start_p50", "mid_p50", "mid_p10", "mid_p25", "mid_p75", "mid_p90"]

for dataset in datasets_list:
    for column in selected_columns:
        dataset[column] = dataset[column].str.replace("$","")
        dataset[column] = dataset[column].str.replace(",","")
        dataset[column] = pd.to_numeric(dataset[column])

In [ ]:
# Storyline: We are a student who just graduated from high school who is interested in STEM.
# which school will give us the most "bang for our buck?"
# first graph tuitions by school type (both in and out of state) - avg out of state will be higher than in state
# second graph for the starting salaries for the top STEM majors (accounting, aerosapce, biology, chemical engineering/
#        chemistry, civil engineering, computer engineering, computer science, electrical engineering, finance, 
#        industrial engineering, information technology, MIS, math, mech. engineering, physics) - avg salary will be higher than $50K
# third graph out of state tuition for the top STEM schools (see forbes list) - MIT will have the highest tuition/
#        avg cost of tuition will be $50K(per year)
# fourth graph out of state tuition for state schools  - avg tuition cost for state $30K (per year)